.card_container {
    transition: transform .2s ease-in-out;
    cursor: pointer;
    scroll-snap-align: start;
    aspect-ratio: 3/4;
    
    &.standalone {
        width: 210px;
    }
    
    &:hover {
        transform: scale(1.02);
    }
}

.card_link {
    display: inline-block;
    height: 100%;
    width: 100%;
}

@media screen and (width <= 600px) {
    .card_container.standalone {
        width: auto;
    }
}