.carousel_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
}

.carousel_title_section {
    display: flex;
    justify-content: space-between;
}

.carousel_btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.carousel_section {
    width: 100%;
    overflow: auto;
    scrollbar-width: none;
    padding: 5px;
    scroll-snap-type: x mandatory;
}

.carousel {
    display: flex;
    gap: 16px;
    width: fit-content;
}

.more_cards_btn_section {
    display: none;
    text-align: center;
}

@media screen and (width <= 600px) {
    .carousel {
        display: grid;
        grid-template-columns: repeat(2, minmax(120px, 1fr));
        width: 100%;
    }

    .carousel_btns {
        display: none;
    }

    .more_cards_btn_section {
        display: flex;
        justify-content: center;
    }
}