.banner_section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
}

.banner_description_section, .banner_image_section {
    flex-grow: 1;
    flex-basis: 300px;
} 

.banner_image_section {
    display: flex;
    justify-content: center;
}

.banner_description_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    align-items: self-start;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner_image_wrapper {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 4/4;
}

@media screen and (width <= 685px) {
    .banner_description_section {
        position: absolute;
        align-items: center;
        text-align: center;
        padding: 20px;
        z-index: 10;
    }

    .banner_image_wrapper {
        filter: brightness(.3);
    }
}

@media screen and (width < 500px) {
    .banner_section {
        padding: 20px 10px;
        height: 500px;
    }

    .banner_description_section {
        padding: 20px 10px;
    }
}